<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="tabs-element">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-tabs{
        background: rgb(255, 240, 163);
        display: flex;
        justify-content: space-around;
      }
      paper-tab:hover{
        background: rgba(255, 219, 67, 0.7);
      }
    </style>
        <div class="tabs">
      <!-- <tabs-card></tabs-card> -->
      <paper-tabs selected="0" >
      <paper-tab>Tab 0</paper-tab>
      <paper-tab>Tab 1</paper-tab>
      <paper-tab>Tab 2</paper-tab>
      <paper-tab>Tab 3</paper-tab>
      </paper-tabs>
    </div>
  </template>

  <script>
    /**
     * `tabs-element`
     * &#39;componente tab&#39;
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TabsElement extends Polymer.Element {
      static get is() { return 'tabs-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'tabs-element'
          }
        };
      }
    }

    window.customElements.define(TabsElement.is, TabsElement);
  </script>
</dom-module>
